{% extends "layout/base.html" %}

{% block title %}Call{% endblock title %}

{% block content %}

    {% include "partials/messages.html" %}

    <h1>Central de chamados</h1>

    <p>Atendendo agora: {{ current_queue|default:"?" }}</p>

    <div class="d-flex">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="_next_queue" class="btn btn-primary me-2">
                Chamar próxima senha
            </button>
        </form>
    
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning" name="_call_again">
                Chamar {{ current_queue }} novamente
            </button>
        </form>
    </div>

{% endblock content %}